<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <title>TO-DO APP</title>
</head>
<body>
    <div class="container">
        <h1>MY To-Do List</h1>
        <form action="{{url_for('index')}}" method="POST">
            <input type="text" name="new_todo" placeholder="enter your To-Do">
            <button class="btn" type="submit">Add</button>
        </form>
        <hr>
        <div>
            <h2>My ToDo's</h2>
            <div class="items-display">
                {% for item in todos %}
                    <div class="display">
                        <p> {{item}} </p> <span class="buttons"><a href="{{url_for('update', todo_item=item)}}" id="update-btn">update</a> <a href="{{url_for('delete', todo_item=item)}}" id="delete-btn">delete</a></span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    
</body>
</html>